<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.campus.mybatis.mapper.TipoCursoMapper">
	
    <select id="getTipoCursoById" parameterType="string" resultType="com.campus.mybatis.beans.TipoCurso">
    SELECT
    	id_c 				as idC,
    	siglas_c 			as siglasC,
    	codigo_c 			as codigoC,
    	precio_segunda_c 	as precioSegundaC,
    	precio_tercera_c 	as precioTerceraC,
    	precio_promocion_c 	as precioPromocionC
    FROM 
    	cur01_curso_cstm
    WHERE
    	id_c = #{id, jdbcType=VARCHAR}
    </select>
	
	<select id="getAllTipoCursos" resultType="com.campus.mybatis.beans.TipoCurso">
    SELECT
    	id_c 				as idC,
    	siglas_c 			as siglasC,
    	codigo_c 			as codigoC,
    	precio_segunda_c 	as precioSegundaC,
    	precio_tercera_c 	as precioTerceraC,
    	precio_promocion_c 	as precioPromocionC
    FROM 
    	cur01_curso_cstm
    ORDER BY
    	siglas_c
	</select>
	
</mapper>